a:hover {
    color: inherit;
    text-decoration: none;
}

button:focus {
    outline: none;
}

.page-link:focus {
    box-shadow: none;
}

.close:not(:disabled):not(.disabled):focus,
.close:not(:disabled):not(.disabled):hover {
    outline: none;
}

.form-control {
    font-size: 14px;
    border: 1px solid #CFD6F0;
}

.form-control:focus {
    box-shadow: none;
    /* border-color: #405DE6; */
}

.text-ori-color {
    color: #515C6D;
}

.color-white {
    color: white;
}

.text-danger {
    color: #ED495A;
}

.text-success {
    color: #28A745;
}

.font-size-7 {
    font-size: 7px;
}

.font-size-8 {
    font-size: 8px;
}

.font-size-9 {
    font-size: 9px;
}

.font-size-10 {
    font-size: 10px;
}

.font-size-11 {
    font-size: 11px;
}

.font-size-12 {
    font-size: 12px;
}

.font-size-13 {
    font-size: 13px;
}

.font-size-14 {
    font-size: 14px;
}

.font-size-15 {
    font-size: 15px;
}

.font-size-16 {
    font-size: 16px;
}

.font-size-17 {
    font-size: 17px;
}

.font-size-18 {
    font-size: 18px;
}

.font-size-19 {
    font-size: 19px;
}

.font-size-20 {
    font-size: 20px;
}

.font-size-21 {
    font-size: 21px;
}

.font-size-22 {
    font-size: 22px;
}

.font-size-23 {
    font-size: 23px;
}

.font-size-24 {
    font-size: 24px;
}

.font-size-25 {
    font-size: 25px;
}

.font-weight-300 {
    font-weight: 300;
}

.font-weight-400 {
    font-weight: 400;
}

.font-weight-500 {
    font-weight: 500;
}

.font-weight-550 {
    font-weight: 550;
}

.font-weight-600 {
    font-weight: 600;
}

.border-radius-0 {
    border-radius: 0px;
}

.border-radius-1 {
    border-radius: 1px;
}

.border-radius-2 {
    border-radius: 2px;
}

.border-radius-3 {
    border-radius: 3px;
}

.border-radius-4 {
    border-radius: 4px;
}

.border-radius-5 {
    border-radius: 5px;
}

.border-radius-6 {
    border-radius: 6px;
}

.border-radius-7 {
    border-radius: 7px;
}

.border-radius-8 {
    border-radius: 8px;
}

.border-radius-9 {
    border-radius: 9px;
}

.border-radius-10 {
    border-radius: 10px;
}

.border-radius-11 {
    border-radius: 11px;
}

.border-radius-12 {
    border-radius: 12px;
}

.border-radius-13 {
    border-radius: 13px;
}

.border-radius-14 {
    border-radius: 14px;
}

.border-radius-15 {
    border-radius: 15px;
}

.border-radius-16 {
    border-radius: 16px;
}

.border-radius-17 {
    border-radius: 17px;
}

.border-radius-18 {
    border-radius: 18px;
}

.border-radius-19 {
    border-radius: 19px;
}

.border-radius-20 {
    border-radius: 20px;
}

.btn.focus,
.btn:focus {
    box-shadow: none;
}

.btn:not(:disabled):not(.disabled).active:focus,
.btn:not(:disabled):not(.disabled):active:focus,
.show>.btn.dropdown-toggle:focus {
    box-shadow: none;
}

.border-radius-50 {
    border-radius: 50% !important;
}

.border-radius-40px {
    border-radius: 40px;
}

.border-radius-5px {
    border-radius: 5px !important;
}

.border-radius-8px {
    border-radius: 8px !important;
}

.border-radius-10px {
    border-radius: 10px !important;
}

.border-radius-20px {
    border-radius: 20px !important;
}

.border-none {
    border: none !important;
}

.opacity-01 {
    opacity: 0.1;
}

.opacity-02 {
    opacity: 0.2;
}

.opacity-03 {
    opacity: 0.3;
}

.opacity-04 {
    opacity: 0.4;
}

.opacity-05 {
    opacity: 0.5;
}

.opacity-06 {
    opacity: 0.6;
}

.opacity-07 {
    opacity: 0.7;
}

.opacity-08 {
    opacity: 0.8;
}

.opacity-09 {
    opacity: 0.9;
}

.mb-10px {
    margin-bottom: 10px;
}

.w-0 {
    width: 0px;
}

.break-word {
    word-break: break-word;
}

.h-20px {
    height: 20px;
}

.w-20px {
    width: 20px;
}

.text-primary {
    color: #64C6E3 !important;
}

.blu-btn-color {
    background-color: #64C6E3;
    border-color: #64C6E3;
}

.blu-btn-color:hover {
    background-color: #3eb4d7;
    border-color: #64C6E3;
}

.white-btn-color {
    background-color: white;
    border-color: #CFD6F0;
    color: #515C6D;
}

.white-btn-color:hover {
    background-color: #3eb4d7;
    border-color: #64C6E3;
}

.star-color {
    color: #F5A331;
}